.clientCardProgress{
    background-color: #3D3C44;
    box-shadow: 0px 3px 6px #00000029;
    padding: 2% 3%;
    border-radius: 5px;
    width: 48%;
    margin: 0% 0% 5% 0%;
}

.clientCardProgress .idorder{
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
    align-items: center;
}

.idorder h3{
    color: white;
    font-size: 16px;
}

.idorder p{
    background-color: #1286EA;
    padding: 2% 5%;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.idorder p.coloredP{
    background-color: #FC2626;
}

.clientCardProgress .doughFlex{
    display: flex;
    justify-content: space-between;
    margin: 3% 0% 0% 0%;
    align-items: flex-end;
}

.doughFlex .detailedOrder{
    width: 60%;
}

.detailedOrder .perDetailContainer{
    display: flex;
    justify-content: space-between;
    margin: 3% 0% 0% 0%;
}

.detailedOrder .perDetail{
    width: 41%;
}

.perDetail h3{
    font-size: 14px;
    /* opacity: 60%; */
    color: #6D6D6D;
}

.perDetail p{
    font-size: 16px;
    color: white;
    margin: 2% 0% 0% 0%;
}

.clientCardProgress .progressBarClient{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 0% 0% 0%;
}

.progressBarClient p{
    background-color: white;
    /* padding: 3%;
    width: 10%; */
    padding: 1% 2%;
    width: 6%;
    text-align: center;
    border-radius: 4px;
}

.progressBarClient p.completed{
    background-color: #2096F0;
}

.progressBarClient p.issue{
    background-color: #EA1F27;
}

.progressBarClient div{
    width: 17%;
    border-bottom: 1px solid #6D6D6D;
}

.clientCardProgress .progressDescription{
    display: flex;
    justify-content: space-between;
    margin: 2% 0% 0% 0%;
}

.progressDescription p{
    font-size: 12px;
    color: white;
    text-align: center;
    /* width: 15%; */
    overflow-wrap:break-word;
}