.serviceCard{
    width:27%;
    border-radius:10px;
    background-color:var(--secondary);
    padding: 2% 0% 0;
    margin-bottom: 5%;
}

.serviceCardHead{
    position:relative;
}

.serviceCardHead>img{
   display: block;
   position: relative;
   z-index: 2;
   margin-left: 8%;
}

.serviceCardHead>hr{
    height:1px;
    width:100%;
    background-color:#FFFFFF64;
    position: absolute;
    left:0;
    top:50%
}

.serviceCardBody{
    
}

.serviceCardBody>div{
   display:flex;
   justify-content: space-between;
   padding: 7%;
}

.serviceCardBody>div>p:nth-of-type(1){
   color:var(--primary);
   font-size: 18px;
   font-weight: 400;
   letter-spacing:0.11px;
   align-self: center;
  
}

.serviceCardBody>div>p:nth-of-type(2){
  color:#FFFFFFAF;
  font-size: 12px;
  letter-spacing:0.07px;
  font-weight:500;
  align-self: center;
}

.serviceCardBody>p:nth-of-type(1){
  color:#FFFFFFAF;
  font-size: 16px;
  letter-spacing:0.1px;
  padding: 7% 0 0 7%;
}

.serviceCardBody>p:nth-of-type(2){
    text-decoration: underline;
    text-align: center;
    padding: 6% 0;
    background-color: #624B31;
    border-radius: 0 0 10px 10px;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0.08px;
    cursor:pointer;
}