.dashboardCardContainer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 2% 0 0 0;   
}

.dashboardCard{
    width: 20%;
    background-color: #EFF3FC;
    border-radius: 6px;
    display: flex;
    padding: 1% 2% 1% 2%;
    justify-content: center;
    box-shadow: 0px 3px 6px #00000029;
   
}

.dashboardCard div{
    color:var(--textgrey);
    align-self: center;
    text-align:center;
}
.dashboardCard div p:nth-of-type(1){
    font-weight: 700;
    font-size: 24px;
    line-height:150%;
}

.dashboardCard div p:nth-of-type(2){
    font-weight: 500;
    font-size: 11px;
}

.dashbord-FilersWraper{
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.dashbordDropdown-filter{
    width: 150px;
  }
  
  .dashbordDropdown-filter .dropdown-header p{
      font-size: 12px;
  }
  .dashbordDropdown-filter .dropdown-body p{
      font-size: 12px;
  } 

  .funnelDashbord-wraper{
    background-color:#F0F2FC ;
    margin: 0% 0 0 0;
    padding: 3% 3% 5% 3%;
    border-radius: 10px;
  }
  .funnelDashbord-wraper .dashHeadline{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;

  }

  .funnelDashbord-wraper .dashbordFilter-holer{
        display: flex;
        justify-content: space-between;
        align-items: center;
  }

  .dashbordFilter-holer .filterbetween{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .filterbetween .searchHolder{
  padding: 8px 5px;
  border: solid 1px #70707099;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
min-width: 180px;
  gap: 10px;
}
.filterbetween .searchHolder>input{
    border: none;
    width: 90%;
    padding: 0px ;
}
.filterbetween .searchHolder>input{
    outline: none;
}
.searchHolder>img{
    width: 15px;
}

.filterbetween .dateFilter{
width: fit-content;
position: relative;
}

.filterbetween .dateFilter>p{
    position: relative;
    top: -8px;
    left: 0;
    color: #4D00FF;
    font-size: 12px;
    font-weight: 500;
}
.filterbetween>.custom-dropdown{
    min-width: 140px ;
}
  
/* table */

.dashbordRevenueTable, .dashbordComparisonTable{
    border-radius:2px;
    overflow-x: scroll;
    min-height: 50px !important; 
    max-height: 300px ;
    padding-bottom: 0px !important;
    /* border: 1px solid #dbdbdb; */
   
}

.dashbordRevenueTable>.Table tbody>tr>td {
    font-size: 12px;
    color: var(--black);
    font-weight: 400;
    text-align: center;
    align-self: center;
    padding: 8px 5px;
  }
  .dashbordComparisonTable>.Table tbody>tr>td{
    font-size: 12px;
    color: var(--black);
    font-weight: 400;
    text-align: center;
    align-self: center;
    padding: 0px 5px 0px 0px;
  }
  .dashbordRevenueTable .Table tbody>tr:nth-last-child(1) {
    border-top: none !important;
}

.funnelDashbord-wraper>.tabsSection{
   justify-content: start !important;
}


/* member Search */
.memberSearchHolder{
    position: relative;
    width: 100%;
}
.searchHolder>p{
    width: 80%;
    font-size: 13px;
}
.searchHolder>span{
    font-size: 16px;
    width: 15%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.memberHolder{
    width: 200px;
    min-height: 150px;
    max-height: 250px;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    z-index: 999;
    padding: 10px 0;
}
.memberHolder>p{
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
}

.memberHolder>p:hover{
 background-color: rgb(228, 228, 228);
 cursor: pointer;
}

[data-status~='Primary']{
    background-color: #FFF9E9;
    padding: 10px 5px;
}
[data-status~='Comparsion']{
    background-color: #DFFFEF;
    padding: 10px 5px;
}
[data-status~='Delta']{
    background-color: #FEEB8C;
    padding: 10px 5px;
}
