.modal.AssignToModal{
   width:40%;
    border-radius: 5px;
    top: -35%;
    transform: none;
    left: 30%;
    opacity:0;
}

.modal.AssignToModal.active{
    top:15%;
    animation: reveal-top-modal 0.3s linear; 
    opacity: 1;
}


.autoComplete-container>input{
    display: block;
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    outline: none;
    font-size: 15px;
    background-color: #544E4D;
}
.autoComplete-suggestions>div{
    color:var(--white);
    padding: 6px;
    cursor: pointer;
    text-align: left;
}

.autoComplete-suggestions>div:hover,.autoComplete-suggestions>div.active{
  background-color: var(--black);
}

.autoComplete-suggestions{
    border: solid 2px var(--primary);
    border-radius: 0px 0px 8px 8px;
    border-top: none;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}



.modal.AssignToModal  .customInput{
    width:fit-content
}
.modal.AssignToModal  form{
    display:flex;
    gap:25px;
    flex-direction: column;
    padding: 20px;
}
.modal.AssignToModal  form>p{
    color: var(--black);
    font-weight: 600;
}

.modal.AssignToModal  form p>span{
    color:#FF1313;
   
}

.modal.AssignToModal .modalFooter button {
    width: 33%;
}



/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb*/
.assignLeadsWraper{
    width: fit-content;
    position: relative;
}
.dropdownHead{
    font-size: 14px;
    font-size: 600;
    width: 300px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.assignLead-dropdown{
    width: 300px;
    padding: 0;
     border: 1px solid rgb(207, 207, 207);
     min-height: 100px;
     max-height: 250px;
     overflow: scroll;
     box-shadow: 0px 3px 6px #00000029;
     background-color: white;
     position: absolute;
     left: 0;
}
.assignSerchbar{
    width: 100%;
    padding: 5px 10px 10px 15px;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
    position: sticky;
    top: 0;
}

.assignSerchbar:focus{
    outline: none;
}

.leadsAssignContainer .leadName{
 font-size: 14px;
 font-weight: 400;
 padding: 5px 20px;
 width: 100%;
 display: flex;
 align-items: center;
 gap: 10px;
}

.leadsAssignContainer .leadName:hover{
    background-color: rgb(214, 214, 214);
}
