.tabsSection{
    display: flex;
    justify-content: center;
}

.tabsSection>button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: var(--primary);
    font-weight: 500;
    transition:  background-color 0.5s;
    border: solid 1px #0000001f;

}

.tabsSection>button.active{
    background-color: var(--primary);
    color: white;
}

.tabsSection>button:hover{
    color: var(--primary);
    background-color: var(--secondary);
}

.tabsSection>button:nth-of-type(1){
    border-radius:   5px 0px 0px 5px;
}

.tabsSection>button:nth-last-of-type(1){
    border-radius:  0 5px 5px 0;
}