.feedCard{
    color:var(--white);
    padding:2%;
    border-radius: inherit;
    background-color:#353A48;
    margin-bottom: 3%;
}

.feedCardBody{
    display:flex;
}

.feedCardBody>.profileHolder{
    align-self: baseline;
    width:10%
}
.feedCardBody>.profileHolder>img{
   width:80%;
   display:block
}
.feedCardBody>.contentHolder{
    width:60%;
    padding:0 2%;
}

.feedCardBody>.contentHolder>.userName{
    font-size:17px;
    font-weight: 500;
    padding: 1% 0 5% 0;
}

.feedCardBody>.contentHolder>.userContent{
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
 
}
.feedCardBody>.userPicHolder{
    width:30%;
}

.feedCardBody>.userPicHolder>img{
    width:100%;
    display: block;
}

.feedCardFooter{
    display:flex;
    padding: 3% 0 0 11% ;
}

.feedCardFooter>div{
  display:flex;
}

.feedCardFooter p{
    font-size: 15px;
    font-weight: 400;
}

.feedCardFooter>p{
    margin-right: 5%;
}

.feedCardFooter>div>p{
    margin-left: 5px;
}