.customInput.leadTable{
    background-color: #3D3C44;
    border: none;
    color: var(--white);
}

.Table,.Table thead,.Table tbody, .Table th, .Table td{
    display: block;
}

.Table tr{
   display: flex;
   align-items: center;
}

.Table.leadTable thead>tr{
    margin-bottom:20px;
    border-radius: 5px;
    background-color: var(--primary);
    border-radius: 5px;
   
}
.Table.leadTable thead>tr>th{
    font-size: 14px;
    color: var(--black);
    font-weight:500;
    text-align: center;
    background-color: inherit;
    border-radius: inherit;
    align-self: center;
<<<<<<< HEAD
}

.Table.bTable tbody{
    background-color: #63626A;
    border-radius: 5px;
    border-radius: 8px;
    /* max-height: 64vh; */
    overflow-y: scroll;
    /* min-height: 50vh; */
}

.Table.bTable tbody>tr{
=======
>>>>>>> 0c38ac92ca1f1b2be431b392b36e9edf5744418b
    padding: 10px 0px;
}

.Table.leadTable tbody{
    background-color: #63626A;
    border-radius: 5px;
    border-radius: 8px;
 
}

.Table.leadTable tbody>tr{
    
}

.Table.leadTable tbody>tr:hover{
    background-color: var(--black);
}

.Table.leadTable tbody>tr>td{
   font-size: 13px;
   
   color:var(--white);
   font-weight: 300;
   text-align: center;
   align-self: center;
   padding: 10px 0px;
}

.Table.leadTable{
    width: 2000px;
}

/* .Table.leadTable.actionsTable td:last-child{
    background-color: #63626A;
}
.Table.leadTable.actionsTable tr:hover>td:last-child{
    background-color: var(--black);
} */


.bookingInner{
   background-color: #3D3C44;
   padding:4%;
   border-radius: 8px;
   color:var(--white);
}

.bookingInvoiceContainer{
    display: flex;
}

.clientProfileContainer{
    border-radius: 5px;
    background-color:#63626A;
    width: 25%;
    margin: 0 3% 0 0;
}

.clientProfile{
    text-align: center;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding: 10% 0;
}
.clientProfile>img{
    width:80px;
    height:80px;
    margin:0% auto 6%;
}
.clientProfile>p{
    font-size:18px;
    font-weight: 500;
}

.clientDescription{
    background-color:var(--primary);
    color:var(--black);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding: 3% 7% 7% 7%;
}


.clientDescription>p:nth-of-type(1){
    font-size: 15px;
    padding:  0 0 5% 0;
}

.clientDescription>p:nth-of-type(2){
    height:47px;
    overflow-y: scroll;
    font-size: 10px;
    width:98%;
    margin: 0 auto;
}

.clientLocation{
    background-color: var(--black);
    display: flex;
    padding: 5%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.clientLocation>p{
    font-size: 10px;
    align-self: center;
    margin-left: 10px;
}

.bookingsInvoice{
    width:72%;
    border-radius: 5px;
    background-color: #63626A;
    padding: 0%  5%;
}

.bookingsInvoice>p{
    text-align:center;
    font-size: 17px;
    font-weight: 500;
    padding:2% 0 5%;
}

.bookingsInvoice>div:nth-of-type(1){
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.bookingsInvoice>div:nth-of-type(1) p{
    width: 28%;
    font-weight: 300;
    font-size: 13px;
    margin: 6px 0;
    display: flex;
    
}
.bookingsInvoice>div:nth-of-type(1) p:nth-of-type(4n+1),.bookingsInvoice>div:nth-of-type(1) p:nth-of-type(4n+3){
    width: 30%;
}

.bookingsInvoice>div:nth-of-type(1) p:nth-of-type(4n){
   width:12%;
}

.bookingsInvoice>div:nth-of-type(2)>p{
    color:var(--primary);
    font-size: 13px;
    margin: 5% 0 6px 0;

}
.bookingsInvoice>div:nth-of-type(2) div{
    width:60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bookingsInvoice>div:nth-of-type(2) div p{
    font-weight: 300;
    font-size: 13px;
    margin: 6px 0;
    width: 50%;
}

.feedBackContainer{
    background-color: #63626A;
    border-radius: 8px;
    padding:4%;
    margin-top:4%;
}
.feedBackInner{
    background-color: #3D3C44;
    border-radius: inherit;
}

.feedBackCard{
    padding:2% 4%
}

.feedBackCard>p{
    color:var(--primary);
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0;
}
.feedBackCard>div{
    display: flex;
}

.feedBackCard>div>img{
   width:37px;
   height:37px;
   margin-right: 10px;
}

.feedBackCard>div>div>p:nth-of-type(1){
    font-size: 13px;
    font-weight: 500;
    margin:  10px 0;
}
.feedBackCard>div>div>p:nth-of-type(2){
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
}



/* New Styles */



.screenTitleContainer .btnFlexLead{
    display: flex;
}

.screenTitleContainer .normLead{
    padding: 1.5% 1%;
    border-radius: 5%;
    background-color: var(--primary);
    cursor: pointer;
    color: black;
    margin: 0% 2%;
}