.reviewCard{
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
    background-color:#554433;
    border-radius: 5px;
    padding:2%;
    border: solid 2px #554433;
}

.reviewCard:hover{
    border: solid 2px var(--primary);
}

.reviewCardClientProfile{
   display: flex;
}

.reviewCardClientProfile>img{
    align-self: center;
    display:block;
    width:45px;
    height:45px;
}

.reviewCardClientProfile>div{
    align-self: center;
    color: var(--white);
    font-size: 14px;
    margin-left:10px;
}

.reviewCardClientProfile>div>p:nth-of-type(2){
    font-size: 12px;
    color:#B8B8B8;
}

.reviewCardCol1{
    border-right: solid 2px var(--primary);
    width: 70%;
    padding-right: 2%;
}


.reviewCardCol2{
    width: 30%;
    padding: 0 0 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviewCardCol2>button{
    background-color: var(--primary);
    color:var(--white);
    border:none;
    border-radius: 3px;
    padding:10px 20px;
    font-weight: 500;
    font-size: 14px;
    width:fit-content;
}

.reviewCardCol2 .actionBtns{
    display: flex;
    color:var(--white);
    margin: 20px  0 0;
}

.reviewCardCol2 .actionBtns>p{
    margin-left: 10px;
}

.clientReviewText{
    color:var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 5% 0%;
}

.replyBar{
    display: flex;
    padding:4% 0% 2%;
}

.replyBar>input{
    width:75%;
    display: block;
    border:none;
    border-radius: 20px;
    padding:10px 15px;
    color:var(--black);
    margin-right: 10px;
    align-self: center;
    outline:none;
    
}

.replyBar>svg{
    align-self: center;
    border-radius: 50%;
    background-color: var(--white);
    color: #ffd30f;
    width:40px;
    height: 40px;
    padding: 2%;
}

.sentReply{
    color:var(--white);
    padding: 2% 0 0 0 ;
    border-top:solid 2px var(--white);

}

.sentReply>span{
   font-size: 14px;
    margin-left: 11px;
    font-weight: 300;
}
