.calendarModal.modal{
    width:fit-content;
    width:-moz-fit-content;
    background-color:transparent;
}

.calendarModal.modal .modalBody{
    padding:0
}

.calendarModal.modal .react-calendar{
    border-radius: 5px;
    border:none;
}



.calendarModal.modal .react-calendar__navigation{
    background-color:var(--primary);
}

.calendarModal.modal  .react-calendar__navigation__label{
    pointer-events: none;
}

.calendarModal.modal .react-calendar__navigation button{
    color:#fff;
     font-weight: 600;
     font-size: 15px;
}

.calendarModal.modal .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: var(--secondary);
    color: var(--primary);
}

.calendarModal.modal .react-calendar__navigation button[disabled] {
    background-color: transparent;
    color: var( --primary);
    cursor: not-allowed;
}

.calendarModal.modal .react-calendar__tile{
    height: 50px;
}

.calendarModal.modal .react-calendar__tile--active{
    background: var(--primary);
}

.calendarModal.modal .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: var(--primary);
}

