.modal{
    position: absolute;
    z-index: 111111;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--white);
    font-size: 1rem;
    width: 50%;
}

.modalHeader{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    align-items: center;
    border-radius: inherit;
}


.modalHeader .modalTitle{
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    font-weight: 400;
    color:var(--black)
}

.modalHeader .modalTitle>p{
    align-self: center;
    margin: 0 0 0 10px;
}

.modalHeader .modalClose{
  
    cursor: pointer;
    font-size: 40px;
    color:var(--black)
}

.modalBody,.modalFooter{
    padding: 20px 20px 30px 20px;
}

.modalFooter{
    margin-bottom: 3%;
}
