.chefAttendanceheader2{
   display: flex;
   justify-content: flex-end;
}

.chefAttendanceheader2>.customDatePicker{
    width:auto;
    margin: 0 2%;
   color:var(--primary);
   
}

.chefAttendanceheader2>.customDatePicker input,.chefAttendanceheader2>.customDatePicker svg{
    color:var(--primary);
    stroke:var(--primary);
}
.chefAttendanceheader2>.customDatePicker>.react-date-picker__wrapper{
   border:solid 1px var(--primary);
   background-color: var(--secondary);
   padding: 0 10px;
   border-radius: 10px;
}
.chefAttendanceheader2>button:nth-of-type(2){
  background-color:var(--primary);
  color:var(--black);
  font-weight: 500;
 
}

.Table.leadTable.attendanceTable{
    background-color: #3D3C44;
    border-radius: 10px;
    padding-bottom: 2%;
}

.Table.leadTable.attendanceTable thead>tr{
    margin-bottom:0;
    background-color:transparent;
    border-bottom: 1px solid #ffffff6b;
    border-radius: 0;
    padding: 20px 0;
    width: 95%;
    margin:0 auto;
}

.Table.leadTable.attendanceTable tbody{
    background-color:transparent
}
.Table.leadTable.attendanceTable tbody>tr{
    border-bottom: 1px solid #ffffff6b;
    border-radius: 0;
    width: 95%;
    margin:0 auto;
}

.Table.leadTable.attendanceTable thead>tr>th{
    font-size: 18px;
    color:#ffffff96;
}

td>p.absent,td>p.present{
    width:fit-content;
    padding: 4% 10%;
    margin:0 auto;
    color:var(--white);
    border-radius: 5px;
}
td>p.absent{
   background-color: #D13C3C;
}

td>p.present{
   
    background-color: #5AD35A;
}


.TableContainer.stickyTable{
    background-color: #3D3C44;
    border-radius: 10px;
}

.Table.stickyTable th,.Table.stickyTable td{
    padding: 13px 5px;
    text-align: center;
    background-color: #3D3C44;
    font-size: 14px;
    min-width: 50px !important;
    color: white;
    align-self: end;
    font-weight: 300;
    border-bottom: solid 1px #fff6f68c;
}

.Table.stickyTable th:nth-of-type(1),.Table.stickyTable td:nth-of-type(1){
    position: sticky;
    left: 0;
    min-width: 190px !important;
    z-index: 22;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: none;  
}


.monthPickerWrapper.attendance{
  margin: 0 20px;
}

.yearPickerWrapper.attendance{
    margin: 0 20px;
  }
