

.sideNav{
    position: fixed;
    top:0;
    left:0;
    width:16%;
    height:100vh;
    background-color:var(--primary);
}

.navLogoContainer{
    text-align:center;
    color: var(--white);
    padding:7% 0 5% 0;
}

.navLogoContainer p{
    font-size: 12px;
    margin: 15px 0 10px;
}

.navLogoContainer span{
    width: 80%;
    margin: 0 auto;
    height: 0px;
    display: block;
    border-top: solid 1px #707070A3;
    border-bottom: none;
}


.navLinkContainer{
    overflow-y: scroll;
    height: 60vh;
    padding: 0 0 3% 0
} 
.navLinkContainer a{
    display: flex;
    color: var(--white);
    font-family: 'Roboto';
    width: 80%;
    margin: 0% auto;
    font-size: 14px;
    font-weight: 300;
    
    padding: 6px 0;
}

.navLinkContainer a:hover,.navLinkContainer a.active{
    background-color:var(--primaryLight);  
    border-radius: 7px;
}

.navLinkContainer a>img{
    margin: 0 20px;
    align-self: center;
}

.navLinkContainer a>p{
    align-self: center;
}

.navLinkContainer a>p.active{
    /* color: #E6AA55; */
    color: var(--white);
    font-weight: 600;
}

.horizontalNav{
    padding: 0vh 2%;
    margin-left: 19%;
    height: 12vh;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}


.navLinkContainer .paAnchor{
    display: flex;
    margin: 6% auto;
}

.navLinkContainer .paAnchor>p{
    border-left: 5px solid transparent;
    border-radius: 10px 0px 0px 10px;
}

.navLinkContainer .paAnchor>p.active{
    border-left: 5px solid var(--primaryLight);
    border-radius: 6px 0px 0px 6px;
}

.navButtons{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.navButtons>button{
    display: block;
    width: 68%;
    min-width: 175px;
    padding: 9px 20px;
    border-radius: 5px;
    font-size: 14px;
}

.navButtons>button:nth-of-type(1){
   color:#292929;
   font-weight: 500;
   background-color: #9DB1FC;
   box-shadow: 0px 3px 10px #00000029;
}

.navButtons>button:nth-of-type(2){
    background-color: #E10505;
    color: var(--white);
}

.navButtons>button:hover{
    opacity: 0.7
}