.doughParent{
    position: relative;
    padding: 0% 5%;
}

.doughParentnew{
    position: relative;
    padding: 0% 0%;
    width: 30%;
}

.doughParent p{
    /* color: #63626A; */
    color: white;
    font-size: 12px;
}

.doughParent .absD1{
    position: absolute;
    top: 40%;
    width: 90%;
    text-align: center;
}
.doughParent .absD2{
    position: absolute;
    top: 50%;
    width: 90%;
    text-align: center;
}

.doughParentnew .imgHolderClient{
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
}

.doughParentnew canvas {
    width: 30%;
}