.section1 ,.section1>.clientInfoCard .contactItem,.section2 .secCards .header{
    display: flex;
    justify-content: space-between;
}
.section1 .clientInfoCard .clientContact{display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.clientInfoCard .contactItem{
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.section1>.clientInfoCard , .section1 .userTicketsSection{
    width: 37%;
    background-color: #3D3C44;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 3% 3%;
}
.section1 .userTicketsSection{
    width: 60%;
    color: #fff;
}
.section1>.clientInfoCard>.clientInfo{
display: flex;
width: 100%;
align-items: center;
flex-direction: column;
gap: 10px;
padding: 10px;
}

.section1>.clientInfoCard>.clientInfo>.imgHold{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}
.section1>.clientInfoCard>.clientInfo>h2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.section1>.clientInfoCard>.clientInfo>p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 100;
}
.section1>.clientInfoCard>.clientInfo>.imgHold>img{
height: 100%;
width: 100%;
}

.contactItem a{
    color: #fff;
    font-size: 14px;
}
.contactItem:last-child a{
    font-size: 12px;
}
.contactItem img{
    align-self: baseline;
    width: 34px;
}
.contactItem img:nth-child(3){
    width: 40px;
}

/* .section2{
    display: flex;
    flex-wrap: wrap;
    padding: 4% 0%;
    justify-content: space-between;
}
.section2 .secCards{
    padding: 1%;
    width: 46%;
    background-color: #3D3C44;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
}
.section2 .secCards .header-btn{
    padding: 1.5% 5%;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
}

.section2 .secCards .booked{
    background-color: var(--booked);
}
.section2 .secCards .hasIssue{
    background-color: var(--hasIssue);
}
.section2 .secCards .completed{
    background-color: var(--completed);
}
.orderInfo{
    display: flex;
    justify-content: space-between;
}
.orderInfo .leftInfo{
    height: 150px;
    position: relative;
}

.orderInfo .leftInfo canvas{
    height: 130px !important;
    width: 130px !important;
}

.orderInfo .leftInfo img{
    position: absolute;
    top: 50px;
    left: 50px;
} */


.overviewInner .CardinClient{
    margin: 3% 0% 0% 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}