



.TableContainer::-webkit-scrollbar{
    height:2px
 }
 
 .TableContainer{
     overflow-x: scroll;
 }






 .searchBar{ 
    display: flex;
    background-color: var(--secondary);
    border-radius: 5px;
    margin-right: 10px;
    align-self: center;
    
}

.searchBar img{
    padding: 10px;
    align-self: center;
    display: block;
    cursor: pointer;
}


  .searchBarInput{
    width: 0;
    transition: width 0.3s;
    border: none;
    padding: 0;
    outline:none;
    border-radius: 5px;
    background-color: var(--secondary);
    color:var(--primary);
  }

  
  .searchBarInput.active{
    width: 200px;
    transition: width 0.3s;
    padding: 8px 15px;
  }

  .tableHeader{
      display: flex;
      justify-content: space-between;
      padding: 0 0 10px 0;
  }

  .tableHeader2,.tableHeader1{
      display:flex;
     
  }

  .showColumns{
    position: relative;
    align-self: center;
    background-color: var(--secondary);
    border-radius: 5px;
}
.showColumnsHeader{
  padding: 8px 15px;
}

.showColArr{
   margin-left:10px;
   transform: rotate(0deg);
   transition: all 0.3s;
   cursor:pointer;
}

.showColArr.active{
    transform: rotate(180deg);
}

  .showColumnsBody{
    max-height: 0;
    overflow-y: scroll;
    transition: all 0.3s;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: inherit;
    overflow-x: hidden;
    left: 0;
    padding: 0;
    
  }

  .showColumnsBody.active{
      max-height: 200px;
  }

  .showColumns label{
      font-size: 12px;
      vertical-align:middle;
      margin-left: 5px;
  }

  .showColumns input{
    vertical-align:middle
  }

  .showColumnsBody div{
      padding: 8px 15px;
      
  }

  .deleteIcon{
    margin-left: 13px;
    border-radius: 5px;
    background-color:var(--secondary);
    align-self: center;
    display: block;
    padding: 4px;
  }

  /* .actionsTable td:last-child,.actionsTable th:last-child{
      position: sticky;
      right:0;
      background: inherit;
  } */

  