.login-wrappper{
    background:var(--wrapperColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;

}

.login-wrappper>form{
    width:500px;
    margin:0 auto;
    background: var(--secondary);
    padding: 20px;
    border-radius: 20px;
}

.login-wrappper>form{
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 420px;
    justify-content: center;
}

.login-wrappper>form>h2{
    text-align: center;
    color:var(--primary);
}

.login-wrappper>form>button{
    width:fit-content;
    margin:0 auto;
}