.mainParticular{
    padding: 2% 0% 0% 0%;   
}

.mainParticular .flexalign{
    display: flex;
    align-items: center;
    margin: 0% 0% 3% 0%;
}

.mainParticular>.flexalign>h1{
    font-size: 20px;
    color: white;
    display: inline-block;
}

.mainParticular .sPOne{
    display: flex;
    justify-content: space-between;
}

.sPOne .userTicketsSection{
    width: 60%;
    background-color: #3D3C44;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 1% 3%;
}

.sPOne .ParchefOverView{
    width: 36%;
    background-color: #3D3C44;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 2% 3%;
}

.sPOne .ticketHead .linkfull{
    width: 22%;
}

.ParchefOverView .fPDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ParchefOverView .chefPInfo{
    font-size: 11px;
    color: white;
    margin: 8% 0% 0% 0%;
}

.ParchefOverView img{
    width: 18%;
}

.ParchefOverView .InfoChef{
    width: 75%;
}

.InfoChef h2{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.mainParticular .sPflexDiv{
    display: flex;
    align-items: center;
    margin: 8% 0% 0% 0%;
}

.sPflexDiv img{
    width: 13%;
    margin: 0% 5% 0% 0%;
}

.sPflexDiv a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.sPOne .tickets{
    padding: 0% 0%;
}

.sPOne .tickets div{
    padding: 2%;
    width: 50%;
    margin: auto;
}

.sPOne .tickets .tickectParent{
    padding: 0% 0%;
}

.sPOne .ticketHead h4{
    color: white;
}

.sPOne .tickets .tickectParent{
    margin: 4% 0%;
}

.sPOne .tickectParent .tickImg {
    width: 8%;
}

.mainParticular .totalTasksPart{
    background-color: #3D3C44;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    margin: 3% 0% 3% 0%;
    padding: 2%;
}

.totalTasksPart>h4{
    color: white;
    font-weight: 500;
}

/* .totalTasksPart table{
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.totalTasksPart table thead{
    border-bottom: 1px solid gray;
}

.totalTasksPart table th{
    position: sticky;
    top: 0%;
}

.totalTasksPart table th, .totalTasksPart table td{
    text-align: center;
    padding: 1% 0%;
    color: white;
    background-color: #63626A;
} */

.mainParticular .ChefReview{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: 3% 0% 0% 0%;
}

.ChefReview .subparent{
    background-color: #3D3C44;
    border-radius: 5px;
    width: 45%;
    padding: 2% 3%;
    margin: 3% 0%;
}

.subparent canvas{
    width: 100% !important;
    width: 100% !important;
}

.subparent h3{
    color: #E6E6E6;
    font-size: 12px;
}

.totalTasksPart .tableParent{
    /* height: 600px;
    overflow-y: scroll; */
    margin: 4% 0% 0% 0%;
}

.chefNav{
    margin: 0% 0% 2% 0%;
}

.chefNav button{
    background-color: transparent;
    border: none;
    color: white;
    margin: 0% 3% 0% 0%;
    padding: 1% 1%;
}

.chefNav button.active{
    border-bottom: 1px solid white;
}


/* Profile Screen */

.mainParticular .profileParent{
    background-color: #3D3C44;
    padding: 4% 2% 3% 2%;
    border-radius: 5px;
}

.profileParent input[type='checkbox'] {
    width: 10%;
    margin: 0% 5% 0% 0%;
}

.profileParent .customInputHolder.checkbox{
    /* width: 60%; */
    width: 30%;
    justify-content: flex-end;
    padding: 0% 0% 0% 5%;
}

.profileParent button{
    background-color: #E5A954;
    border-radius: 5px;
    color: white;
    padding: 1% 3%;
    margin: 0% 0% 0% 5%;
}

.flexalign .meIds{
    background-color: transparent;
    border: none;
    color: white;
    font-size: inherit;
    text-decoration: underline;
}