/* .Table.bulkTable{
    width:100%;
} */

.optionWraper{
    position: relative;
    width: fit-content;

}

.headerOption{
    color: #646464;
    background: var(--white);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}

.optionDropdown{
    width: 150px;
    background-color: white;
    position: absolute;
    left: 0%;
    top: 100%;
    padding: 15px 10px 15px 15px;
    box-shadow: 0px 3px 6px #00000029;
}
.optionDropdown label{
    font-size: 12px;
    margin-left: 10px;
}
.count{
    font-size: 16px;
    margin: 10px 0 0 0;
}