.addChef{
    display:flex;
}

.addChefCol1{
    width:100%;
    text-align:center;
    color:var(--white);
    padding: 0 0px;
}


.modal.addChefModal {
   background-color:#3D3C3E;
   border-radius: 10px;
   width:56%;
   left: 56%;
}

.modal.addChefModal .modalBody{
    padding:0
}


.customInputHolder.addChefInput{
    margin-bottom: 5%;
    width: 50%;
}

.customInput.addChefInput::placeholder{
    color:var(--white)
}

.customInput.addChefInput{
    padding: 9px 15px;
    font-weight: 300;
    font-size: 13px;
    width:90%;
    margin: 0 auto;

}

.addChef form>div:nth-of-type(1){
    height: 56vh;
    overflow-y: scroll;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.addChefCol1>p{
    padding: 3% 0;
}

.addChef .saveBtn{
    display: block;
    margin: 6% auto;
    width: 25%;
    padding: 12px 0px;
    border-radius: 5px;
    background-color: var(--primary);
    font-size: 15px;
    font-weight: 600;   
}
